{% extends "layout/app.html" %}
{% block content %}
<div class="row">
    <div class="col-xl-12 col-lg-12 order-lg-1 order-xl-1">
        <div class="kt-portlet kt-portlet--height-fluid kt-portlet--mobile ">
            <div class="kt-portlet__head kt-portlet__head--lg kt-portlet__head--noborder kt-portlet__head--break-sm">
                <div class="kt-portlet__head-label">
                    <h3 class="kt-portlet__head-title">
                        All User
                    </h3>
                </div>
                <div class="kt-portlet__head-toolbar">
                    <div class="dropdown dropdown-inline">
                        <a href="{% url 'account:accountuser_create' %}" class="btn btn-primary">
                            Add New
                        </a>
                    </div>
                </div>
            </div>
            <div class="input-group">
                <div class="input-group-prepend"><span class="input-group-text"><i
                        class="flaticon2-search-1"></i></span></div>
                <form>

                    <input type="text" class="form-control kt-quick-search__input" placeholder="Search..." name="q"
                           id="account_search">
                </form>
                <div class="input-group-append"><span class="input-group-text"><i
                        class="la la-close kt-quick-search__close" style="display: none;"></i></span></div>
            </div>
            <div class="kt-portlet__body kt-portlet__body">
                <table class="table" id="account_table">
                    <tr>
                        <th>User</th>
                        <th>Organization</th>
                        <th>User Name</th>
                        <th>First Name</th>
                        <th>Last Name</th>
                        <th>Email</th>
                        <th>Mobile</th>
                        <th>Gender</th>
                        <th>Start Date</th>
                        <th>End Date</th>
                        <th>Role</th>
                        <th colspan="3">Action</th>
                    </tr>

                    {% for account_u in accountusers %}
                    <tr>
                        <td>{{ account_u.user.first_name }} {{ account_u.user.last_name }}</td>
                        <td>{{ account_u.organization }}</td>
                        <td>{{ account_u.user.username }}</td>
                        <td>{{ account_u.user.first_name }}</td>
                        <td>{{ account_u.user.last_name }}</td>
                        <td>{{ account_u.user.email }}</td>
                        <td>{{ account_u.mobile }}</td>
                        <td>{% if account_u.gender == 1 %}
                            Male
                            {% elif account_u.gender == 2 %}
                            Female
                            {% else %}
                            Other
                            {% endif %}
                        </td>
                        <td>{{ account_u.start_date }}</td>
                        <td>{{ account_u.end_date }}</td>
                        <td>{{ account_u.role }}</td>
                        <td data-field="Actions" data-autohide-disabled="false" class="kt-datatable__cell"><span
                                style="overflow: visible; position: relative; width: 110px;">
                            <a href="{% url 'account:accountuser_view' account_u.user.id %}" title="View"
                               class="btn btn-sm btn-clean btn-icon btn-icon-md">
                            <i class="la la-eye"></i></a>&nbsp;
                            <a href="{% url 'account:accountuser_edit' account_u.user.id%}" title="Edit"
                               class="btn btn-sm btn-clean btn-icon btn-icon-md">
                                <i class="la la-edit"></i></a>&nbsp;
                            <a onclick="delete_user_details('{% url 'account:accountuser_delete' %}', {{ account_u.user.id }}, {{ account_u.id }})"
                               title="Delete" class="btn btn-sm btn-clean btn-icon btn-icon-md"><i
                                    class="la la-trash"></i> </a>
                        </span>
                        </td>
                    </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    </div>
</div>
<div class="modal" id="myModal">
    <div class="modal-dialog">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">Assign Role</h4>
                <button type="button" class="close" data-dismiss="modal"></button>
            </div>

            <!-- Modal body -->
            <div class="modal-body">
                <form method="post" autocomplete="off">
                    {% csrf_token %}
                    {{ role_form.as_p}}

                    <button type="button" class="btn btn-danger pull-right" data-dismiss="modal">
                        Close
                    </button>
                    <button type="submit" class="btn btn-success pull-right" data-dismiss="modal">
                        Save
                    </button>
                </form>
            </div>

        </div>
    </div>
</div>
{% endblock %}
{% block script %}
<center>
    <div class="pagination">
        {% if page_obj.has_previous %}
        <a class="pagination-action"
           href="?page=1 {% if request.GET.q %} &q={{ request.GET.q }} {% endif %}">
            <i class="fa fa-angle-double-left" aria-hidden="true"></i>
        </a>
        <a class="pagination-action"
           href="?page={{ page_obj.previous_page_number }} {% if request.GET.q %} &q={{ request.GET.q }} {% endif %}">
            <i class="fa fa-angle-left" aria-hidden="true"></i>
        </a>
        {% endif %}
        <span class="pagination-current">{{ page_obj.number }}</span>
        <span class="pagination-of"></span>
        <span class="pagination-total">{{ page_obj.paginator.num_pages }}</span>
        {% if page_obj.has_next %}
        <a class="pagination-action"
           href="?page={{ page_obj.next_page_number }} {% if request.GET.q %} &q={{ request.GET.q }} {% endif %}">
            <i class="fa fa-angle-right" aria-hidden="true"></i>
        </a>
        <a class="pagination-action"
           href="?page={{ page_obj.paginator.num_pages }} {% if request.GET.q %} &q={{ request.GET.q }} {% endif %}">
            <i class="fa fa-angle-double-right" aria-hidden="true"></i>
        </a>
        {% endif %}
    </div>
</center>
{% endblock %}
{% block java_script %}

<script>
        function delete_user_details(url, userid, accountid) {

            swal.fire({
                title: 'Are you sure?',
                text: "You won't be able to revert this!",
                type: 'warning',
                showCancelButton: true,
                confirmButtonText: 'Yes, delete it!'
            }).then(function (result) {

                if (result.value) {
                    $.post(url,
                        {
                            userid: userid,
                            accountid: accountid,
                            'csrfmiddlewaretoken': getCookie('csrftoken')
                        },
                        function (data, status) {

                            window.location.reload();

                        });
                } else {
                    alert('not deleted');
                }
            });
        }




</script>

    <script>
         $(function () {
            $("#account_search").keyup(function(event){
              let search_value = $("#account_search").val();
              $.get("/account/search/?q="+search_value,
              function(data, status){
               $('#account_table').html(data);
              });
            });
         });
    </script>
{% endblock %}