{% extends 'layout/app.html' %}
{% load crispy_forms_tags %}
{% block content %}
<div class="col-xl-12 col-lg-12 order-lg-1 order-xl-1">
    <div class="kt-portlet kt-portlet--height-fluid">
        <div class="kt-portlet__head">
            <div class="kt-portlet__head-label">
                <span class="kt-portlet__head-icon"><i class="kt-font-brand fa fa-edit"></i></span>
                <h3 class="kt-portlet__head-title">Update Dynamic Form Field</h3>
            </div>
        </div>
    </div>
    <div class="kt-portlet__body kt-portlet__body">
        <form method="post" action="" autocomplete="off">
            {% csrf_token %}
            <div class="row">
                <div class="col-12">
                    {{ fieldform.field_title|as_crispy_field }}
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    {{ fieldform.field_type|as_crispy_field }}
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    {{ fieldform.field_hidden|as_crispy_field }}
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    {{ fieldform.field_description|as_crispy_field }}
                </div>
            </div>
            <br>
            <input type="submit" class="btn btn-primary pull-right" value="Update"/>
        </form>
    </div>
</div>
{% endblock %}